.categoriesSection {
  text-align: center;
  padding: 0;
}

.heading {
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  color: #3e2c20;
  padding: 15px 0;
  margin: 20px 0 0 0;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-transform: uppercase;
}


.categoryCard {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoryCard:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.categoryImage {
  height: 40vh;
  object-fit: cover;
  border-radius: 12px;
}

.categoryName {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: rgba(62, 44, 32, 0.5);
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1.1rem;
  transition: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.categoryName:hover {
  color: #3e2c20;
}
.categoryLink {
  text-decoration: none;  /* removes underline */
  color: inherit;         /* keep original text color */
  display: block;         /* ensures it wraps the card without affecting layout */
}
